---
import Default from '@astrojs/starlight/components/Footer.astro';
import type { Props } from '@astrojs/starlight/props';
---

<Default {...Astro.props}>
  <slot />
</Default>

<div class="badge">
  <div id="wcb" class="carbonbadge"></div>
  <script is:inline src="https://unpkg.com/website-carbon-badges@1.1.2/b.min.js" defer></script>
</div>


<style>
    .bagde {
    display: flex;
    justify-self: center;
  }
</style>

